body {
    padding-bottom: 50px;
}

input[type="number"]{
    width: 50px;
}
input[type="date"]{
    width: 130px;
}
table td.amount input, table td.amount .input-group{
    max-width: 185px;
    width: 100%;
    margin: 0;
}
.input-group-append .input-group-text {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.btn-icon {
    padding: 3px;
    border: none;
    border-radius: 0;
    line-height: 1;
    font-size: 1.1rem;
    background: transparent;
}
table .form-control {
    display: inline-block;
}
